/* You can add global styles to this file, and also import other style files */
@import "assets/scss/main.scss";

.btn {
    background-color: white;
    cursor: pointer;
    border: 1px solid #00000052;
    padding: 0.5rem 0.75rem;
    outline: 0;
    &-green {
        color: green;
        cursor: pointer;
    }
    &-red {
        color: red;
        pointer-events: none;
    }
    &:hover {
        // transform: scale3d(1.2, 1.2, 1);
    }
    &:focus {
        // border: none;
    }
    & > * {
        // padding: 0.3rem 0.55rem;
        margin: 0.75rem;
    }
    & > span {
        // transform: scale2d(1.2, 1.2, 1);
    }
}
.btn-reverse {
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    color: white;

    &:hover {
        // transform: scale3d(1.2, 1.2, 1);
    }
    &:focus {
        // border: 1px solid #00000052;
        // border: none;
    }
    &:disabled {
        background-color: rgba(0, 128, 0, 0.603);
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    width: 3rem;
    outline: 0;
    padding: 0.25rem;
    &:focus {
        // border: none;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-red {
    color: red;
}
.text-green {
    color: green;
}
.text-bold {
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.scrollBar {
    overflow-y: scroll;
    &-70 {
        max-height: 70vh;
    }
    &-60 {
        max-height: 60vh;
    }
}
// @media screen and (min-width: 601px) {
//     * {
//         font-size: 1rem;
//     }
// }

// @media screen and (max-width: 600px) {
//     * {
//         font-size: 0.5px;
//     }
// }
