table {
    // font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 0.5rem;
    }
    th {
        letter-spacing: 0.15rem;

        text-transform: uppercase;
    }
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.container {
    position: absolute;
    top: 10%;
}
h1 {
    font-family: Lato;
}
a {
    padding: 0.5rem 0.75rem;
    background: #ccc;
    border: 1px solid #efefef;
    cursor: pointer;
}

a.active {
    color: #e2e2e2;
    background: #2e2e2e;
}
table {
    width: 100%;
}
cdk-virtual-scroll-viewport {
    height: 68vh;
}
