<input type="text" *ngIf="searchField!==''" [(ngModel)]="searchValue"
    placeholder="Search for  {{searchField|titlecase}}...">

<mat-form-field appearance="outline">
    <mat-label>Cuisine</mat-label>
    <mat-select [formControl]="cuisineType" multiple>
        <mat-select-trigger>
            {{cuisineType.value ? cuisineType.value[0] : ''}}
            <span *ngIf="cuisineType.value?.length > 1" class="example-additional-selection">
                (+{{cuisineType.value.length - 1}} {{cuisineType.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let cuisine of cuisineList" [value]="cuisine">{{cuisine}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Food Type</mat-label>
    <mat-select [formControl]="foodType" multiple>
        <mat-select-trigger>
            {{foodType.value ? foodType.value[0] : ''}}
            <span *ngIf="foodType.value?.length > 1" class="example-additional-selection">
                (+{{foodType.value.length - 1}} {{foodType.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Favorite Item</mat-label>
    <mat-select [formControl]="favoriteItem" multiple>
        <mat-select-trigger>
            {{favoriteItem.value ? favoriteItem.value[0] : ''}}
            <span *ngIf="favoriteItem.value?.length > 1" class="example-additional-selection">
                (+{{favoriteItem.value.length - 1}} {{favoriteItem.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let item of favoriteItemList" [value]="item.name">{{item.name}}</mat-option>
    </mat-select>
</mat-form-field>

<ng-container
    *ngIf="(orderList|globalSearch:searchValue:searchField|filterPipe:foodType.value:'type'|filterPipe:cuisineType.value:'cuisine'|filterPipe:favoriteItem.value:'name'|sortpipe:sortValue.action:sortValue.field) as transformedData">
    <cdk-virtual-scroll-viewport [itemSize]="20">
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th (click)="sortColumn('customerName')">Customer Name <span><i class="fa fa-search"
                                (click)="searchField='customerName'"></i></span>
                        <span *ngIf="sortValue.field==='customerName'"><i [ngClass]="sortValue.icon"></i></span>
                    </th>
                    <th (click)="sortColumn('custContactNumber')">Customer Number <span><i class="fa fa-search"
                                (click)="searchField='custContactNumber'"></i></span>
                        <span *ngIf="sortValue.field==='custContactNumber'"><i [ngClass]="sortValue.icon"></i></span>
                    </th>
                    <th (click)="sortColumn('Amount')">Amount <span><i class="fa fa-search"
                                (click)="searchField='Amount'"></i></span>
                        <span *ngIf="sortValue.field==='Amount'"><i [ngClass]="sortValue.icon"></i></span>
                    </th>
                    <th (click)="sortColumn('orderDate')">Order Date <span><i class="fa fa-search"
                                (click)="searchField='orderDate'"></i></span>
                        <span *ngIf="sortValue.field==='orderDate'"><i [ngClass]="sortValue.icon"></i></span>
                    </th>
                    <th (click)="sortColumn('orderTime')">Order Time <span><i class="fa fa-search"
                                (click)="searchField='orderTime'"></i></span>
                        <span *ngIf="sortValue.field==='orderTime'"><i [ngClass]="sortValue.icon"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody
                *cdkVirtualFor="let order of transformedData|pagination:currentPage:rowsPerPage;let i=index;trackBy: trackByFn(i,order,transformedData.length); ">
                <tr>
                    <td><button (click)="order.expand=order.expand?false:true">click</button></td>
                    <td>{{order.customerName}} </td>
                    <td>{{order.custContactNumber}}</td>
                    <td>{{order.Amount|currency:order.currency}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.orderTime}}</td>

                </tr>
                <tr [style]="{'display':order.expand?'':'none'}">
                    <td colspan="6">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Type</th>
                                <th>Cuisine</th>
                                <th>Price</th>
                            </tr>

                        </thead>
            <tbody>
                <tr *ngFor="let item of order.items">
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.cuisine}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
            </td>





            </tr>

            </tbody>
        </table>

    </cdk-virtual-scroll-viewport>
    <select [(ngModel)]="rowsPerPage" (change)="getPages(transformedData.length)">
        <option [value]="3">3</option>
        <option [value]="5">5</option>
        <option [value]="500">500</option>
        <option [value]="1000">1000</option>
        <option [value]="2000">2000</option>
    </select>
    <div style="margin: 20px">
        <a *ngFor="let el of pages" [ngClass]="{'active' : active == el}" (click)="active = el"> {{el}}</a>
    </div>
</ng-container>