table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 {
    font-family: Lato;
}
a {
    padding: 10px 20px;
    background: #ccc;
    border: 1px solid #efefef;
    cursor: pointer;
}

a.active {
    color: #e2e2e2;
    background: #2e2e2e;
}
table {
    width: 100%;
}
cdk-virtual-scroll-viewport {
    height: 68vh;
}
