.center-text {
    text-align: center;
}
.wmax-60 {
    max-width: 60vw;
}
.wmin-40 {
    min-width: 30vw;
}
.wmin-60 {
    min-width: 50vw;
}
.wmax-30 {
    max-width: 30vw;
}
.mr-3 {
    margin-right: 2rem;
}
.mt-3 {
    margin-top: 2rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pr-2 {
    padding-right: 2rem;
}
.d-flex {
    display: flex;
}
.d-in-flex {
    display: inline-flex;
}
.p-2 {
    padding: 2rem;
}
.p-1 {
    padding: 1rem;
}
